<% set_meta_tags :site => 'Edit Team • League Hero',
  :noindex => true
%>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= render :partial => 'layouts/teambar' %>
      <%= render :partial => 'layouts/messages' %>
      <p><small>* click on players to edit information inline</small></p>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Captain</th>
        </tr>
        </thead>
        <tbody>
          <% @players.each do |pl|%>
            <tr>
              <td><%= best_in_place pl, :name, place_holder: "Player Name" %></td>
              <td><%= best_in_place pl, :email, place_holder: "Player Email" %></td>
              <td><%= best_in_place pl, :phone, place_holder: "Player Phone" %></td>
              <td></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= javascript_tag do %>
$(document).ready(function() {
  /* Activating Best In Place */
  jQuery(".best_in_place").best_in_place();
});
<% end %>
