<% @title = @team.name + ' • ' + @league.name + ' • League Hero' %>
<% set_meta_tags :site => @title,
  :canonical => request.original_url,
  :author => 'League Hero',
  :copyright => '&copy; 2016 League Hero',
  :description => "-",
  :keywords => ['league', 'teams', 'members', 'clubs'],
  :reverse => true,
  :og => {
    :title          => @title,
    :type           => 'website',
    :url            => request.original_url,
    :image          => '-',
    :description    => "-",
    :site_name      => 'League Hero',
  },
  :twitter => {
    :card           => 'summary',
    :site           => '@getleaguehero',
    :title          => @title,
    :description    => "-",
    :creator        => '@getleaguehero',
    :image          => '-',
  }
%>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= render :partial => 'layouts/teambar' %>
      <table class="table">
        <thead>
          <tr>
            <th class="team_header">Name</th>
            <th class="team_header">Email</th>
            <th>Phone</th>
          </tr>
        </thead>
        <tbody>
          <% @players.each do |pl|%>
            <tr>
              <td><%= pl.name  %></td>
              <td><%= pl.email  %></td>
              <td><%= pl.phone  %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <h4>Games</h4>
      <table class="table teams_table">
        <thead>
          <tr>
            <th>Home Team</th>
            <th>Away Team</th>
            <th>Date / Time</th>
            <th>Location</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          <% @team_games.each do |game|%>
            <tr>
              <td><a href="/teams/<%= Team.find(game.team_one).id %>"><%= Team.find(game.team_one).name %></a></td>
              <td><a href="/teams/<%= Team.find(game.team_two).id %>"><%= Team.find(game.team_two).name %></a></td>
              <td><%= game.date %> at <%= game.time %></td>
              <td><%= game.location %></td>
              <td><% if game.winner_score && game.loser_score %><%= game.winner_score %> - <%= game.loser_score %><% end %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
