<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p class="team_name"><%= @team_name %>
        <% if current_user %>
          <span><a class="btn btn-default edit_team_button" href="<%= params['id'] %>/edit" role="button">EDIT TEAM</a></span>
        <% end %>
      </p>
      <% if !@team.captain.blank? %>
        <p>
          Team Captain:
        </p>
      <% end %>
      <table class="table teams_table">
        <thead>
          <tr>
            <th class="team_header">Name</th>
            <th class="team_header">Email</th>
            <th>Phone</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
          <% @players.each do |pl|%>
            <tr>
              <td>
                <%= pl.name  %>
              </td>
              <td>
                <%= pl.email  %>
              </td>
              <td>
                <%= pl.phone  %>
              </td>
              <td>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
