<% @title = @team.name + ' • ' + @league.name + ' • League Hero' %>
<% set_meta_tags :site => @title,
  :canonical => request.original_url,
  :author => 'League Hero',
  :copyright => '&copy; 2016 League Hero',
  :description => "-",
  :keywords => ['league', 'teams', 'members', 'clubs'],
  :reverse => true,
  :og => {
    :title          => @title,
    :type           => 'website',
    :url            => request.original_url,
    :image          => 'http://leaguehero.io/assets/fb-image-league-hero.png',
    :description    => "-",
    :site_name      => 'League Hero',
  },
  :twitter => {
    :card           => 'summary',
    :site           => '@getleaguehero',
    :title          => @title,
    :description    => "-",
    :creator        => '@getleaguehero',
    :image          => 'http://leaguehero.io/assets/fb-image-league-hero.png',
  }
%>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= render :partial => 'layouts/teambar' %>
      <%= render :partial => 'layouts/messages' %>
      <table class="table">
        <thead>
          <tr>
            <th class="team_header">Name</th>
            <th class="team_header">Email</th>
            <th>Phone</th>
          </tr>
        </thead>
        <tbody>
          <% @players.each do |pl|%>
            <tr>
              <td><%= pl.name  %></td>
              <td><%= pl.email  %></td>
              <td><%= pl.phone  %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% if @team_games.present? %>
        <h4>Games</h4>
        <div class="gameday-legend">
          <div class="gl-info">Date / Venue</div>
          <div class="gl-team">
            <div class="gl-match">Matchup</div>
            <div class="gl-result">Result</div>
            <div class="gl-score">Score</div>
          </div>
        </div>
        <div class="gameday-group">
          <% @team_games.each do |game|%>
            <div class="gameday-game">
              <div class="gd-info">
                <%= Date.strptime(game.date, "%m/%d/%Y").strftime("%b") %> <%= Date.strptime(game.date, "%m/%d/%Y").day %> at <%= game.time %><br>
                <span><%= game.location %></span>
              </div>
              <div class="gd-teams">
                <div class="gd-team">
                  <a href="/teams/<%= Team.find(game.team_two).id %>"><%= Team.find(game.team_two).name %></a>
                  <div class="gd-result">
                    <% if game.winner.nil? %>
                      -
                    <% elsif game.winner == Team.find(game.team_two).id %>
                      W
                    <% else %>
                      L
                    <% end %>
                  </div>
                  <div class="gd-score">
                    <% if game.winner.nil? %>
                      -
                    <% elsif game.winner == Team.find(game.team_two).id %>
                      <%= game.winner_score %>
                    <% else %>
                      <%= game.loser_score %>
                    <% end %>
                  </div>
                </div>
                <div class="gd-team last">
                  <a href="/teams/<%= Team.find(game.team_one).id %>"><%= Team.find(game.team_one).name %></a>
                  <div class="gd-result">
                    <% if game.winner.nil? %>
                      -
                    <% elsif game.winner == Team.find(game.team_one).id %>
                      W
                    <% else %>
                      L
                    <% end %>
                  </div>
                  <div class="gd-score">
                    <% if game.winner.nil? %>
                      -
                    <% elsif game.winner == Team.find(game.team_one).id %>
                      <%= game.winner_score %>
                    <% else %>
                      <%= game.loser_score %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
