<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= render :partial => 'layouts/messages' %>
      <h3>Edit League</h3>
      <%= simple_form_for(@league, :html => {multipart: true}) do |f| %>
        <div class="row">
          <div class="col-sm-6">
            <%= f.input :name, :placeholder => @league.name %>
          </div>
          <div class="col-sm-6">
            <%= f.input :admin_name, :placeholder => @league.admin_name   %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <%= f.input :admin_email, :placeholder => @league.admin_email, :class => "form-control" %>
          </div>
          <div class="col-sm-4">
            <%= f.file_field :avatar, :label => "Upload an image" %>
            <%#= f.input :avatar, :placeholder => @league.avatar.url %>
            <% if @league.avatar.url %>
              <%= image_tag @league.avatar.url(:thumb)%>
            <% end %>
          </div>
        </div>
        <%= f.submit "Update League", :class => "btn btn-primary-outline" %>
      <% end %>
      <hr>
      <%= link_to 'Delete All Games', games_destroy_all_path, class: "btn btn-danger-outline", :data => {:confirm => 'Are you sure?'}, :method => :delete %>

      <a class="btn btn-secondary-outline" href="/users/edit">Edit User</a>

      <!-- TODO: Ability to add more teams and/ or players per team  -->
      <!-- <strong>Max Teams: </strong><div><%= best_in_place @league, :max_teams %></div>
      <strong>Max Players Per Team: </strong><div><%= best_in_place @league, :max_players_per_team %></div> -->
      <%#= button_to "Reset League", { action: "delete", id: @image.id },
                                method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
  </div>
</div>
