<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Edit League</h3>
      <%= simple_form_for @league do |f| %>
        <div class="row">
          <div class="col-sm-6">
            <%= f.input :name, :placeholder => @league.name %>
          </div>
          <div class="col-sm-6">
            <%= f.input :admin_name, :placeholder => @league.admin_name   %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <%= f.input :admin_email, :placeholder => @league.admin_email, :class => "form-control" %>
          </div>
          <div class="col-sm-4">
            <%= f.input :avatar, as: :file %>
          </div>
        </div>
        <%= f.submit "Update League", :class => "btn btn-primary-outline" %>
      <% end %>
      <!-- TODO: Ability to add more teams and/ or players per team  -->
      <!-- <strong>Max Teams: </strong><div><%= best_in_place @league, :max_teams %></div>
      <strong>Max Players Per Team: </strong><div><%= best_in_place @league, :max_players_per_team %></div> -->
    </div>
  </div>
</div>
