This will be the beginning of the league setup form

<%= simple_form_for @league do |f| %>
  <%= f.input :name, :label => "Leage Name", required: true %>
  <div>
    <span><%= f.input :subdomain, :placeholder => "Subdomain", required: true %>.leaguehero.io</span>
  </div>
  <%= f.input :max_teams, as: :integer, required: true %>
  <%= f.input :max_players_per_team, as: :integer, required: true %>
  
  <%= f.submit "Next" %>
<% end %>
