<% set_meta_tags :site => 'Create a League • League Hero',
  :noindex => true
%>

<div class="step-by-step">
  <div class="step left full"></div>
  <div class="bar full"></div>
  <div class="step center full"></div>
  <div class="bar right"></div>
  <div class="step right"></div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "league-signup active" }) do |f| %>
        <%= render :partial => 'layouts/messages' %>
        <div class="form-group">
          <label>Name</label>
          <input class="form-control" autofocus="autofocus" value="" name="user[name]">
        </div>
        <div class="form-group">
          <label>Email</label>
          <input class="form-control" autofocus="autofocus" type="email" value="" name="user[email]">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input class="form-control" type="password" name="user[password]">
          <small>Minimum of 8 characters.</small>
        </div>
        <div class="form-group">
          <label>Confirm Password</label>
          <input class="form-control" type="password" name="user[password_confirmation]">
        </div>
        <input type="hidden" value="" name="bot-buster"> 
        <%= f.input :pre_league_id, as: :hidden, input_html: {value: (params["pre_league_id"].to_i)} %>
        <div class="form-actions">
          <button class="btn btn-primary-outline" type="submit">Next</button>
          <span>Already have an account? <a id="switch-login">Log In</a></span>
        </div>
      <% end %>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "league-log-in" }) do |f| %>
        <%= render :partial => 'layouts/messages' %>
        <div class="form-inputs">
          <%= f.input :email, required: false, autofocus: true %>
          <%= f.input :password, required: false %>
          <%= f.input :pre_league_id, as: :hidden, input_html: {value: (params["pre_league_id"].to_i)} %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>
        <p><%= link_to "Forgot your password?", new_password_path(resource_name) %></p>
        <div class="form-actions">
          <%= f.button :submit, "Next", :class => "btn btn-primary-outline" %>
          <span>Don't have an account? <a id="switch-signup">Sign Up</a></span>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    if (window.location.search.indexOf("signing_in") > 0) {
      $(".league-signup").removeClass("active");
      $(".league-log-in").addClass("active");
    }
    $("#switch-login").click(function() {
      $(".league-signup").removeClass("active");
      $(".league-log-in").addClass("active");
    });
    $("#switch-signup").click(function() {
      $(".league-log-in").removeClass("active");
      $(".league-signup").addClass("active");
    });
  });
</script>
