<div class="sub_header">
  <div class="header_style_bar">
  </div>
  <div class="league_name">
    Create a League
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="info_box col-md-8 col-md-push-2">
      <div id="info_box_content">
        <h2>Sign Up</h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>
            <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
            <%= f.input :password_confirmation, required: true %>
            <%= f.input :pre_league_id, as: :hidden, input_html: {value: (params["pre_league_id"].to_i)} %>
            <%= f.submit "Next Step"%>
          </div>

        <% end %>

        <% unless request.subdomain.blank? || request.subdomain == "www" %>
          <%= render "devise/shared/links" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
