<%= render :partial => 'home/header' %>
<div class="container-fluid">
  <div class="row">
    <div class="info_box col-md-8 col-md-push-2">
      <div class="info_box_header">
        <ul class="nav nav-tabs list-inline" id="info_box_tabs" role="tablist">
          <li class="active"><a href="#league" role="tab" data-toggle="tab">LEAGUE</a></li>
          <li><a href="#schedule" role="tab" data-toggle="tab">SCHEDULE</a></li>
          <div class="dropdown">
            <li class="manage_tab">
              <a class="dropdown-toggle" data-target="#manage" role="tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MANAGE</a><span class="caret"></span>
                <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                  <li><a href="/teams">Manage Teams</a></li>
                  <li><a href="/games">Manage Games</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Logout</a></li>
                </ul>
            </li>
        </div>
        </ul>
      </div>
      <div id="info_box_content">
        <% if current_user.nil? %>
          <!-- if not on a subdomain -->
          <% if request.subdomain.blank? || request.subdomain == "www" %>
          <!-- we might not need these links if we are redirected to sing up wiz from marketing site -->
            <%= link_to('Get Started', new_pre_league_path) %>
            <br>
          <% else %>
            <%= link_to('Login', new_user_session_path) %>
            <br>
          <% end %>
        <% else %>
          <br>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          <br>
          <%= link_to('Manage League', edit_league_path(:id => @league.id)) %>
          <br>
          Welcome <%= current_user.email %>
          <h3><%= @league.name %></h3>
          <h3>League Manager: <%= @league.admin_name %></h3>
          <h2>Standings</h2>
          <p>
            Put league standings here
          </p>
          <h2>Recent News</h2>
          <p>
            Recent news here
          </p>
          <p>
            Recent news here
          </p>
          <p>
            Recent news here
          </p>
          <p>
            Recent news here
          </p>
        <% end %>
        <br>
        <h1><%= @message %></h1>
      </div>
    </div>
  </div>
</div>

<script>
  $('#info_box_tabs a').click(function (e) {
    e.preventDefault()
    $(this).tab('show');
  });
  $('.dropdown-toggle').dropdown();
  // add redner different views into the info_box_content area
  $("#info_box_content").html("<%=escape_javascript(render :partial=>"show_blog")%>");

</script>
