<% set_meta_tags :site => 'Pay Dues • ' + @league.name + ' • League Hero',
  :noindex => true
%>


<script type="text/javascript">
  Stripe.setPublishableKey( "<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>");
  var stripeResponseHandler = function(status, response) {
    var $form = $('#payment-form');
    if (response.error) {
      $form.find('.payment-errors').text(response.error.message);
      $form.find('button').prop('disabled', false);
    } else {
      var token = response.id;
      $form.append($('<input type="hidden" name="stripeToken" />').val(token));
      $form.get(0).submit();
    }
  };
  jQuery(function($) {
    $('#payment-form').submit(function(e) {
      var $form = $(this);
      $form.find('button').prop('disabled', true);
      Stripe.card.createToken($form, stripeResponseHandler);
      return false;
    });
  });
</script>


<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="pay-dues">
        <div class="pd-img"><%= image_tag @league.avatar.url%></div>
        <h3><%= @league.name %></h3>
        <div class="league-cost">Dues owed by <%= @player.name %><span>= $<%= @league.price %></span></div>
        <p>Use the form below to pay your league dues online. League Hero uses <a href="http://stripe.com" target="_blank">Stripe</a> to securely process payments.</p>
        <%= form_tag "/dues", id: "payment-form" do %>
          <span class="payment-errors text-danger"></span>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label>Card Number</label>
                <input type="text" size="20" class="form-control" data-stripe="number"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Security Code (CVV)</label>
                <input type="text" size="4" class="form-control" data-stripe="cvc"/>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>MM</label>
                <input type="text" size="2" class="form-control exp-field" data-stripe="exp-month"/>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>YYYY</label>
                <input type="text" size="4" class="form-control exp-field" data-stripe="exp-year"/>
              </div>
            </div>
          </div>
          <br>
          <input type="hidden" name="player_id" value="<%= @player.id %>"/>
          <button type="submit" class="btn btn-primary-outline btn-block">Submit League Dues</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
