<% set_meta_tags :site => 'Edit Game • League Hero',
  :noindex => true
%>
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.standalone.min.css">

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= render :partial => 'layouts/toolbar' %>
      <%= render :partial => 'layouts/messages' %>
      <h3>Edit Game</h3>
      <%= simple_form_for @game do |f| %>
        <div class="row">
          <div class="col-sm-6">
            <%= f.input :team_one, :collection => @teams.map {|tm| ["#{tm.name}", tm.id]}.sort, :prompt => "Select Home Team", input_html: { class:  "c-select" } %>
          </div>
          <div class="col-sm-6">
            <%= f.input :team_two, :collection => @teams.map {|tm| ["#{tm.name}", tm.id]}.sort, :prompt => "Select Away Team", input_html: { class: "c-select" } %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <%= f.input :date, :placeholder => @game.date, :class => "form-control", :id => "game_date", :readonly => true %>
          </div>
          <div class="col-sm-4">
            <%= f.input :time, :collection => @time_options, default: @game.time, :class => "form-control", :id => "edit-game-time" %>
          </div>
          <div class="col-sm-4">
            <%= f.input :location, :placeholder => "Enter court / field", :class => "form-control" %>
          </div>
        </div>
      <!-- TODO :: Restyle and use more logic  -->
        <% if @game_played %>
        <br>
          <h3>Game Results</h3>
          <div class="col-sm-6">
            <%= f.input :winner, :as => :select, :collection => [Team.find(@game.team_one).name, Team.find(@game.team_two).name],:include_blank => false%>
          </div>
          <div class="col-sm-6">
            <%= f.input :winner_score %>
          </div>
          <div class="col-sm-6">
            <%= f.input :loser, :as => :select, :collection => [Team.find(@game.team_two).name, Team.find(@game.team_one).name],:include_blank => false%>
          </div>
          <div class="col-sm-6">
            <%= f.input :loser_score %>
          </div>
        <% end %>
        <%= f.submit "Update Game", :class => "btn btn-primary-outline" %>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  $(document).ready(function() {
  <!-- bootstrap datepicker -->
    $('#game_date').datepicker({
      todayBtn: "linked"
    });
    <!-- TODO: game time picker -->
  });
<% end %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
