<% set_meta_tags :site => 'Edit Game • League Hero',
  :noindex => true
%>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= render :partial => 'layouts/toolbar' %>
      <h3>Edit Game</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Home Team</th>
            <th>Away Team</th>
            <th>Date</th>
            <th>Time</th>
            <th>Location</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= best_in_place @game, :team_one, :as => :select, :collection => @teams.map {|tm| [tm.id, tm.name]}.sort %></td>
            <td><%= best_in_place @game, :team_two,  :as => :select, :collection => @teams.map {|tm| [tm.id, tm.name]}.sort %></td>
            <td><%= best_in_place @game, :date, :as => :date %></td>
            <td><%= best_in_place @game, :time %></td>
            <td><%= best_in_place @game, :location, place_holder: "Game Location" %></td>
          </tr>
        </tbody>
      </table>
      <!-- TODO :: Restyle and use more logic -->
      <h3>Game Results</h3>
      <p><strong>WINNING TEAM:</strong> <%= best_in_place @game, :winner, :as => :select, :collection => {@game.team_one => Team.find(@game.team_one).name , @game.team_two => Team.find(@game.team_two).name }%></p>
      <p><strong>WINNER'S SCORE:</strong><%= best_in_place @game, :winner_score %></p>
      <p><strong>LOSING TEAM:</strong> <%= best_in_place @game, :loser,  :as => :select, :collection => {@game.team_one => Team.find(@game.team_one).name , @game.team_two => Team.find(@game.team_two).name } %></p>
      <p><strong>LOSER'S SCORE:</strong> <%= best_in_place @game, :loser_score %></p>
      <!-- TODO :: Restyle and use more logic  -->
      <% if @game_played %>
        <h3>Game Results</h3>
        <p><strong>WINNING TEAM:</strong> <%= best_in_place @game, :winner, :as => :select, :collection => {@game.team_one => Team.find(@game.team_one).name , @game.team_two => Team.find(@game.team_two).name }%></p>
        <p><strong>WINNER'S SCORE:</strong><%= best_in_place @game, :winner_score %></p>
        <p><strong>LOSING TEAM:</strong> <%= best_in_place @game, :loser,  :as => :select, :collection => {@game.team_one => Team.find(@game.team_one).name , @game.team_two => Team.find(@game.team_two).name } %></p>
        <p><strong>LOSER'S SCORE:</strong> <%= best_in_place @game, :loser_score %></p>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  $(document).ready(function() {
    /* Activating Best In Place */
    jQuery(".best_in_place").best_in_place();
  });
<% end %>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
