<div class="container">
  <div class="row">
    <%= link_to('Add Games Manually ', new_game_path) %>
    <br>
    <%= link_to('Generate Games', games_generator_options_path) %>
    <br>
    <% @games.each do |game| %>
      <strong>Home Team:</strong> <%= game.team_one  %>
      <strong>Away Team:</strong> <%= game.team_two  %>
      <strong>Location:</strong> <%= game.location  %>
      <strong>Date:</strong> <%= game.date %>
      <strong>Time:</strong> <%= game.time %>
      <a href="games/<%= game.id %>/edit">Edit</a>
      <br>
    <% end %>
  </div>
</div>
