<% @title = 'Schedule • ' + @league.name + ' • League Hero' %>
<% set_meta_tags :site => @title,
  :canonical => request.original_url,
  :author => 'League Hero',
  :copyright => '&copy; 2016 League Hero',
  :description => "-",
  :keywords => ['league', 'schedule', 'teams', 'scheduling', 'recent news'],
  :reverse => true,
  :og => {
    :title          => @title,
    :type           => 'website',
    :url            => request.original_url,
    :image          => '-',
    :description    => "-",
    :site_name      => 'League Hero',
  },
  :twitter => {
    :card           => 'summary',
    :site           => '@getleaguehero',
    :title          => @title,
    :description    => "-",
    :creator        => '@getleaguehero',
    :image          => '-',
  }
%>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= render :partial => 'layouts/toolbar' %>
      <%= render :partial => 'layouts/messages' %>
      <% if @games.present? %>
        <div class="games-toolbar">
          <h3>Schedule</h3>
          <nav class="gt-months">
            <% if !@game_months.blank? %>
              <% @game_months.each do |month| %>
              <%= link_to month, schedule_path(month: month), class: if month == @current_month_name then "active" end, id: month  %>
              <% end %>
            <% end %>
            <% if current_user %>
              <%= link_to 'Delete All', games_destroy_all_path, class: "destroy-games", :data => {:confirm => 'Are you sure?'}, :method => :delete %>
              <%= link_to 'Add Game', new_game_path, class: "add-game" %>
            <% end %>
          </nav>
        </div>
      <% else %>
        <% if current_user %>
          <div class="hero-create-schedule">
            <h3>Let's Create a Schedule!</h3>
            <p>Oops, it looks like you haven't added any games to your schedule. Use <strong>Scheduling Hero&trade;</strong> to auto generate a schedule based on preferences or manually create a schedule by individually adding games.</p>
            <%= link_to 'Generate Schedule', games_generator_options_path, class: "btn btn-primary-outline" %>
            <%= link_to 'Add Game', new_game_path, class: "btn btn-secondary-outline" %>
          </div>
        <% else %>
          <div class="hero-create-schedule">
            <h3>Schedule</h3>
            <p>Oops, it doesn't look like any games have been added to the <%= @league.name %> league schedule yet.</p>
          </div>
        <% end %>
      <% end %>
      <% if @current_games.present? %>
        <div class="gameday-legend">
          <div class="gl-info">Date / Venue</div>
          <div class="gl-team">
            <div class="gl-match">Matchup</div>
            <div class="gl-result">Result</div>
            <div class="gl-score">Score</div>
          </div>
        </div>
        <% @current_games.each_with_index do |game, index|%>
          <div class="gameday-group<% if @current_games[index+1] && (game.date != @current_games[index+1].date) %> gameday-group-break<% end %>">
            <div class="gameday-game">
              <div class="gd-info">
                <%= Date.strptime(game.date, "%m/%d/%Y").strftime("%b") %> <%= Date.strptime(game.date, "%m/%d/%Y").day %> at <%= game.time %><br>
                <span><%= game.location %></span>
              </div>
              <div class="gd-teams">
                <div class="gd-team">
                  <a href="/teams/<%= Team.find(game.team_two).id %>"><%= Team.find(game.team_two).name %></a>
                  <div class="gd-result">-</div>
                  <div class="gd-score">-</div>
                </div>
                <div class="gd-team last">
                  <a href="/teams/<%= Team.find(game.team_one).id %>"><%= Team.find(game.team_one).name %></a>
                  <div class="gd-result">-</div>
                  <div class="gd-score">-</div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
