<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table teams_table">
        <thead>
          <tr>
            <th>Home Team</th>
            <th>Away Team</th>
            <th>Date</th>
            <th>Time</th>
            <th>Location</th>
        </tr>
        </thead>
        <tbody>
          <%= simple_form_for @game do |f| %>
            <tr>
              <td>
                <%= f.input :team_one, :collection => @teams.map {|tm| ["#{tm.name}", tm.id]}.sort, :prompt => "Select Home Team" %>
              </td>
              <td>
                <%= f.input :team_two, :collection => @teams.map {|tm| ["#{tm.name}", tm.id]}.sort, :prompt => "Select Away Team"%>
              </td>
              <td>
                <%= f.input :date, as: :date, html5: true %>
              </td>
              <td>
                <%= f.input :time, as: :time, html5: true %>
              </td>
              <td>
                <%= f.input :location, :placeholder => "Enter field/ court name" %>
              </td>
            </tr>
            <%= f.submit "Add" %>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
