Add Games here. Not sure the best way to do this. Maybe have 2 dropdowns of all team names (team1 vs team2) then they can add a date and time with jquery picker.
<br>
:team_one,:team_two,:winner,:loser,:location,:winner_score,:loser_score,:time,:date
<div class="container">
  <div class="row">
    <%= simple_form_for @game do |f| %>
      <%= f.input :team_one, :collection => @teams.all.map {|tm| ["#{tm.name}", tm.id]}.sort, :prompt => "Select Home Team" %>
      <%= f.input :team_two, :collection => @teams.all.map {|tm| ["#{tm.name}", tm.id]}.sort, :prompt => "Select Away Team"%>
      <%= f.input :location, :placeholder => "Enter field/ court name" %>
      <%= f.input :time, as: :time, html5: true %>
      <%= f.input :date, as: :date, html5: true %>

      <%= f.submit "Add" %>
    <% end %>
  </div>
</div>
