<% set_meta_tags :site => 'New Game • League Hero',
  :noindex => true
%>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= render :partial => 'layouts/toolbar' %>
      <h3>New Game</h3>
      <%= simple_form_for @game do |f| %>
        <div class="row">
          <div class="col-sm-6">
            <%= f.input :team_one, :collection => @teams.map {|tm| ["#{tm.name}", tm.id]}.sort, :prompt => "Select Home Team", input_html: { class:  "c-select" } %>
          </div>
          <div class="col-sm-6">
            <%= f.input :team_two, :collection => @teams.map {|tm| ["#{tm.name}", tm.id]}.sort, :prompt => "Select Away Team", input_html: { class: "c-select" } %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <%= f.input :date, as: :date, html5: true, :class => "form-control" %>
          </div>
          <div class="col-sm-4">
            <%= f.input :time, as: :time, html5: true, :class => "form-control" %>
          </div>
          <div class="col-sm-4">
            <%= f.input :location, :placeholder => "Enter court / field", :class => "form-control" %>
          </div>
        </div>
        <%= f.submit "Add Game", :class => "btn btn-primary-outline" %>
      <% end %>
    </div>
  </div>
</div>
