<% set_meta_tags :site => 'Generate Playoffs • League Hero',
  :noindex => true
%>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= render :partial => 'layouts/toolbar' %>
      <%= render :partial => 'layouts/messages' %>
      <h3>Bracket Hero&trade;</h3>
      <p>Use Bracket Hero&trade; to generate playoff games for your league based on the criteria below. Games and schedule can be adjusted after creation.</p>
      <form class="game_generator_form" action="generate-playoffs" method="post">

        <!-- <div class="row">
          <div class="col-sm-3">
            <fieldset class="form-group">
              <label>Number of Teams in Playoffs</label>
              <input id="playoff-size" class="form-control" placeholder="Choose Playoff Size" multiple type="number" min="2" max ="<%= @max_teams %>"></input>
            </fieldset>
          </div>
        </div> -->
        <div class="row">
          <div class="col-sm-3">
            <fieldset class="form-group">
              <label>Playoff Seed</label>
              <% count = 0 %>
              <% @max_teams.times do %>
                <%= count += 1 %>
                <div id="playoff-seed-<%= count %>">
                  <select class="c-select" type="collection" name="team-seed-<%= count %>">
                    <% seed = 0 %>
                    <% @teams.each_with_index do |team, i| %>
                      <option value=<%= i +1 %> placeholder=<%= @teams[i].name %>>
                        <%= @teams[i].name %>
                      </option>
                    <% end %>
                  </select>
                </div>
              <% end %>
            </fieldset>
          </div>
          <div class="col-sm-6">
            <fieldset class="form-group">
            </fieldset>
          </div>
        </div>
        <button class="btn btn-primary-outline" type="submit">Generate Games</button>
      </form>
    </div>
  </div>
</div>
