<%= render :partial => 'home/header' %>
<div class="container-fluid">
  <div class="row">
    <div class="info_box col-md-8 col-md-push-2">
      <div class="info_box_header">
        <ul class="nav nav-tabs list-inline" id="info_box_tabs" role="tablist">
          <li class="active"><a href="/" role="tab" data-toggle="tab">LEAGUE</a></li>
          <li><a href="/games" role="tab" data-toggle="tab">SCHEDULE</a></li>
          <div class="dropdown">
            <li class="manage_tab">
              <a class="dropdown-toggle" data-target="#manage" role="tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MANAGE</a><span class="caret"></span>
                <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                  <li><a href="/teams">Manage Teams</a></li>
                  <li><a href="/games">Manage Games</a></li>
                  <li><a href="/posts">Manage Posts</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Logout</a></li>
                </ul>
            </li>
        </div>
        </ul>
      </div>
      <div id="info_box_content">
    <!-- use jquery to restrict adding more players than the league allows -->
        <%= simple_form_for @player do |f| %>
          <%= f.input :name, :placeholder => "Insert the name of your player here" %>
          <!-- this will be a dropdown of everyone on the team -->
          <%= f.input :email, :placeholder => "Player Email" %>
          <!-- this will be a dropdown of everyone on the team -->
          <%= f.input :team_id, as: :hidden%>

          <%= f.submit "Next" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
