<% set_meta_tags :site => 'New Post • League Hero',
  :noindex => true
%>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= render :partial => 'layouts/postbar' %>
      <%= render :partial => 'layouts/messages' %>
      <h3>Create a Post</h3>
      <%= simple_form_for @post do |f| %>
        <div class="form-group">
          <label>Title</label>
          <input class="form-control" type="text" name="post[title]" placeholder="Title"/>
        </div>
        <%= f.input :body, :label => "Message", :placeholder => "Message..." %>
        <%= f.submit "Submit", class: "btn btn-primary-outline" %>
      <% end %>
    </div>
  </div>
</div>
