<div class="sub_header">
  <div class="header_style_bar">
  </div>
  <div class="league_name">
    Create a League
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="info_box col-md-8 col-md-push-2">
      <div id="info_box_content">
        <%= simple_form_for @pre_league do |f| %>
          <%= f.input :league_name, :placeholder => "Insert the name of your league here" %>
          <%= f.input :admin_name,:placeholder => "Name of league Admin or Comissioner" %>
          <%= f.input :subdomain, :placeholder => "Subdomain for your league" %>
          <%= f.input :max_teams, as: :integer %>
          <%= f.input :max_players_per_team, as: :integer %>

          <%= f.submit "Next" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
