<!-- This will all change, don't worry Justin -->
<h2>Your payment of <strong>$5.00</strong>!</h2>

<h3>Below are all the details of your league.</h3>

<strong>League Name:</strong> <%= @league.league_name %>
<br>
<strong>URL:</strong> <%= @league.subdomain %>
<br>
<strong>Admin:</strong> <%= @league.admin_name %>
<br>
<strong>Teams:</strong> <%= @league.max_teams %>
<br>
<br>
<h2>NEXT STEP</h2>

Head over to <a href="<%= @league.subdomain %>.leaguehero.io"><%= @league.subdomain %></a> to get started setting up your teams and players


Thank you!
