<body class="lh-application">
  <div class="league-header">
    <div class="lh-topbar"></div>
    <% if @league %>
      <a href="/"><%= @league.name %></a>
    <% end %>
  </div>
  <div class="league-content">
    <nav class="lh-nav">
      <a class="<% if current_page?(root_path) %>active<% end %>"
         href="/">League</a>
      <a class="<% if current_page?(controller: 'games', action: 'index') %>active<% end %>" href="/schedule">Schedule</a>
      <% if current_user.nil? %>
        <%= link_to "Log In", new_user_session_path, :class => "manage-log-in" %>
      <% else %>
        <div class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Manage</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/teams">Teams</a>
            <a class="dropdown-item" href="/posts">Posts</a>
            <%= link_to "Log Out", destroy_user_session_path, :method => :delete, :class => "dropdown-item log-out" %>
          </div>
        </div>
      <% end %>
    </nav>
    <%= yield %>
  </div>
  <%= render :partial => 'layouts/footer' %>
  <%= render :partial => 'layouts/analytics' %>
</body>
